.media {
    max-height: 100px
}

#image {
    max-height: 100px
}
#about {
    padding-bottom:40px;
}

#aboutcard {
    background-color: #F5F6F7!important;
}

.text {
    padding-left: 20px!important;
}

#more {
    text-align: center;
    color: white!important;
    background-color:#203864!important
}

#morediv {
    text-align: center;
}